
/* BASE */
$color-primary: #55c57a;
$color-primary-darken: #28b485;
$color-primary-lighten: #7ed56f;
$color-grey: #777;
*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    font-size: 62.5%; /* 10px*/
    box-sizing: border-box;
}
body {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
    padding: 3rem;
}
@mixin positionAbsolute($top-offset,$left-offset) {
    position: absolute;
    top: $top-offset;
    left: $left-offset;
}
@mixin headingStyle($block-type,$sizeInRem,$styleweight,$spacingInRem) {
        display: $block-type;
        font-size: $sizeInRem;
        font-weight: $styleweight;
        letter-spacing: $spacingInRem;
}
@mixin buttonColor($background-col, $text-col) {
    background-color: $background-col;
    color: $text-col;
}
/* Keyframe Rules */
@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        transform: translateX(-.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveToTop {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* HEADER */
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-lighten, 0.801), 
        rgba($color-primary-darken, 0.801)),
        url(../img/mountain.jpg);
    background-size: cover;
    background-position: right ;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;
    text-align: center;

    .header__logo-box {
        @include positionAbsolute(4rem, 4rem);
        .header__logo {
            height: 3.5rem;
        }
    }

    .header__text-box {
        @include positionAbsolute(40%, 50%);
        transform: translate(-50%,-50%);
        // text-align: center;
        .heading-primary {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 4rem;

            .heading-primary--main {
                @include headingStyle(inline-block ,6rem ,400 ,3rem);
                animation: moveToRight 1s ease-out;
            }

            .heading-primary--sub {
                @include headingStyle(inline-block ,2rem ,700 ,1.5rem);
                animation: moveToLeft 1s ease-out;
            }
           
        }
    }

}

/* Button Header */
.btn {
    &:link,&:visited {
        display: inline-block;
        padding: 1.5rem 4rem;
        text-decoration: none;
        border-radius: 10rem;
        text-transform: uppercase;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }

}

.btn--white {
    @include buttonColor(white, #777);
}


.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease-out;
}
.btn--white::after {
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn--animated {
    animation: moveToTop .5s ease-out .50s;
    animation-fill-mode: backwards;
}
